<h1>Product List</h1>
<%= link_to 'Add Product', new_admin_product_path %>

<% @products.each do |product| %>
<div>
  <h3>Name:<%= link_to product.name, admin_product_path(product) %></h3>
</div>

<div>
  <p>Status:<%= product.status %></p>
</div>

<div>
  <p>Description:<%= product.description %></p>
</div>

<div>
  <p>List Price:<%= product.list_price %></p>
</div>

<div>
  <p>Sell Price:<%= product.sell_price %></p>
</div>

<div>
  <p>SKU:<%= product.SKU %></p>
</div>
<%= link_to 'Edit', edit_admin_product_path(product) %>
<%= link_to 'Delete', admin_product_path(product), method: :delete, data: {confirm: 'Sure to delete this product?'} %>
<% end  %>