<h1>Product</h1>

<% @products.each do |product| %>
<div>
  <h3>Name:<%= link_to product.name, product_path(product) %></h3>
</div>

<div>
  <p>Description:<%= product.description %></p>
</div>

<div>
  <p>List Price:<%= product.list_price %></p>
</div>

<div>
  <p>Sell Price:<%= product.sell_price %></p>
</div>

<div>
  <p>SKU:<%= product.SKU %></p>
</div>
<% end  %>