<h1 class="title is-3"> <%= @product.name %></h1>
<p>
  <div>
    <strong>Description: </strong>
    <%= @product.description %>
  </div>
</p>
<p>
  <div>
    <strong>Sell price: </strong>
    <%= @product.sell_price %>
  </div>
</p>
<p>
  <div>
    <strong>SKU: </strong>
    <%= @product.SKU %>
  </div>
</p>

<div>
<% @product.images.each do |image| %>
  <%= image_tag image.variant(resize_to_limit: [500, 300]) %>
<% end %>
</div>



